.top-bar {
    -fx-background-color: #e5e7eb; 
    -fx-padding: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 6, 0.2, 0, 2);
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 6 12;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-cursor: hand;
    -fx-pref-height: 32px;
    -fx-min-width: 150px;
}

.button:pressed {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
}

.combo-box {
    -fx-background-color: #3498db;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 0 12;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-pref-height: 32px;
    -fx-min-height: 32px;
    -fx-max-height: 32px;
}

.combo-box:hover,
.combo-box:focused,
.combo-box:showing {
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.combo-box-base {
    -fx-background-color: #3498db;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

.combo-box-base .text {
    -fx-fill: white;
    -fx-font-size: 14px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 5 0 5;
}

.combo-box-popup .list-view {
    -fx-background-color: #3498db;
}

.combo-box-popup .list-cell {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-cursor: default;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #1f78c1;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.combo-box-popup .list-cell:selected {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
}

.combo-box-popup .list-cell:focused {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}

.text-area {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 13px;
    -fx-padding: 10;
    -fx-border-color: #d0d0d0;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}
.output-area {
    -fx-background-color: #f9fafb;
    -fx-border-color: #e5e7eb;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 12;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.03), 4, 0.2, 0, 1);
}
